body {
  font-family: palatino, georgia;
}

h1 {
  color: #786e6e;
  font-family: palatino;
  font-size: 4em;
  text-align: left;
}

h2, h3, h4 {
  text-align: left;
}

h2 {
  color: #64c8ca;
  font-size: 3.5em;
}

h3 {
  font-size: 3em;
}

h4 {
  text-align: center;
  font-size: 25px;
}

.slide {
  background-image: url('/image/sls-209x36.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.bullets ul {
  margin-left: 10px;
}

ul ul li {
  font-size: 30px;
}

.bullets ul li {
  text-align: left;
  padding: 10px;
}
